---
title: "Galeria"
permalink: "/galeria/index.html"
---
{% extends "base.njk" %}
{% block content %}
<section>
  <div class="container">
    <div class="cabecalho-secao">
      <p class="rotulo">Fotos</p>
      <h2>Galeria</h2>
    </div>
    <div class="galeria-grade">
      {% for foto in galeria %}
      <div class="galeria-item">
        <img src="{{ foto.imagem }}" alt="{{ foto.legenda }}">
        <p>{{ foto.legenda }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
